:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

body a {
  display: contents;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

*::-webkit-scrollbar {
  max-width: 5px;
  max-height: 5px;
  position: fixed;
}

*::-webkit-scrollbar-track {
  background: #ecedef;
}

*::-webkit-scrollbar-thumb {
  background-color: #aaaeb3;
  border-radius: 8px;
}

*::-webkit-scrollbar-button {
  display: none;
}