.grecaptcha-badge {
  visibility: collapse !important;
}

*::-webkit-scrollbar {
  max-width: 5px;
  max-height: 5px;
  position: fixed;
}

*::-webkit-scrollbar-track {
  background: #ecedef;
}

*::-webkit-scrollbar-thumb {
  background-color: #aaaeb3;
  border-radius: 8px;
}

*::-webkit-scrollbar-button {
  display: none;
}